DB_NAME=tareas_db
DB_USERNAME=SA
DB_PASSWORD=replace-with-a-strong-secret
CORS_ALLOWED_ORIGINS=http://localhost:3000
APP_SECURITY_USERNAME=task-user
APP_SECURITY_PASSWORD=replace-with-a-strong-secret
APP_SECURITY_ROLES=USER
